
{% extends 'mechatronics/base.html' %}
{% load staticfiles %}

{% block titulo %} Administracion {% endblock %}

{% block js_css %}
    <style>
        p { /* border:solid 0.1em #4F7DA6; */
            font-size:0.8em; margin:0.1em auto;  padding:0.1em 1%;  text-align:center;  width: 75%;
        }
    </style>
{% endblock %}

{% block right_of_nav %}
    <img id='img-inicio' src= "{% static 'mechatronics/img/index.jpg' %}" height=440px width=100%>
{% endblock %}

{% block bottom_of_nav %}{% endblock %}
