{% extends 'mechatronics/client_base.html' %}

{% block title_2 %} Editar Cliente {% endblock %}

{% block vars_hidden %}
    <!-- guarda variables de consulta, para poder desplegar buscar y mostrar la lista en la pagina search, para así volver  mostrar la lista donde se encuentra el cliente borrado. -->
    <div style="display:none">
        <input type='text' name='page' value='{{ equipList.number|escape }}'>
        <input type='text' name='name' value='{{ query.name|escape }}'>
        <input type='text' name='month' value='{{ query.month|escape }}'>
    </div>
{% endblock %}