
{% extends 'mechatronics/base.html' %}

{% block title_1 %} Administración {% endblock %}

{% block js_css %}
	<style>
		fieldset { margin: 1% 2%; padding: 1% 10%}
		legend { font-size:1.2em;  font-weight:bold; }
		table {  width: 100%; }
		td, th {
			border-bottom:1px solid #D3D3D9;
			text-align:left;
			padding:0.25em 0.5em 1.25em 0.5em;
		}
		input[type='submit'] {
			height: 2.0em;
			width: 20%;
			margin-left: 40%;
		}
	</style>
{% endblock %}

{% block right_of_nav %}

  <form action='.' method='POST'> {% csrf_token %}
	<fieldset>
		<legend>
		    {% block title_2 %}{% endblock %}
		</legend>
			<table>
				{{ formClient.as_table }}
			</table>
		<input type='submit' value='Guardar'/>
	</fieldset>

	{% block vars_hidden %}{% endblock %}

	</form>

{% endblock %}
x