
{% extends 'mechatronics/base.html' %}
{% load staticfiles %}

{% block title_1 %} Administración {% endblock %}

{% block js_css %}
    <link rel='stylesheet' type='text/css' href="{% static 'mechatronics/css/base_search.css' %}"/>
{% endblock %}

{% block right_of_nav %}
    <fieldset>
        <legend> Búsqueda de Clientes: </legend>

        <form action='.' method="GET">
            <fieldset class='por-nombre'>
                <legend> <h6> Por nombre o apellido: </h6> </legend>
                <input type='text' name='name' value='{{ query.name|escape }}'>
                <input type='submit' name='submitSearch' value='Buscar' class='btn-buscar'>
            </fieldset>
        </form>

        {% if query.name or query.month %}
            {% if clientList %}
                <table id='tabla-search'>
                    <thead>
                        <tr>
                            <th colspan ='9'>
                                {% if query.name %} Resultados para "{{ query.name|escape }}" {% endif %}
                                {% if query.month %} Clientes registrados en el "actual mes" {% endif %}
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <a id='js_popup' href='#'>
                                    <img src="{% static 'mechatronics/img/delete.png' %}" height=13px width=13px >
                                </a>
                                <img class ='icon' src="{% static 'mechatronics/img/modify.png' %}" height=13px width=13px >
                            </th>
                            <th>Registró</th> <th>Nombre</th> <th>Apellidos</th>
                            <th>Teléfono</th> <th>Email </th>
                        </tr>
                    </thead>
                    <tbody>

                        <form action='../delete/' method="POST"> {% csrf_token %}
                            {% for client in clientList %}
                                <tr>
                                    <td>
                                        <input type="checkbox" name="delete" value='{{ client.id|escape }}'>
                                        <a href='/administrative/client/edit/{{ client.id|escape }}/?page={{ equipList.number|escape }}&name={{ query.name|escape }}&month={{ query.month|escape }}'>
                                            <img class ='icon' src="{% static 'mechatronics/img/modify.png' %}"
                                                 height=13px width=13px >
                                        </a>
                                    </td>
                                    <td> {{ client.registro|escape }}  </td>
                                    <td> {{ client.nombre|escape }}  </td>
                                    <td> {{ client.apellido|escape }} </td>
                                    <td> {{ client.telefono|escape }} </td>
                                    <td> {{ client.email|escape }} </td>
                                </tr>
                            {% endfor %}
                            <!-- pop up para confirmacion de eliminacion de elementos -->
                            <div class="overlay-container1">
                                <div class="window-container1">
                                    <fieldset>
                                        <legend> Se eliminarán los registros seleccionados </legend>
                                            <input type='submit' class="btn-buscar" name ='submitDelete' value='Confirmar'/>
                                            <span class="close"> Cancelar </span>
                                    </fieldset>
                                </div>
                            </div>

                        </form>
                    </tbody>
                </table>

                <div class="pagination">
                    <span class="step-links">
                        {% if clientList.has_previous %}
                            <a href="?page={{ clientList.previous_page_number }}&name={{ query.name|escape }}"> <h6> previous </h6> </a>
                        {% endif %}

                        <span class="current">
                            <h6> Page {{ clientList.number }} of {{ clientList.paginator.num_pages }} </h6>
                        </span>

                        {% if clientList.has_next %}
                            <a href="?page={{ clientList.next_page_number }}&name={{ query.name|escape }}"> <h6> next </h6> </a>
                        {% endif %}
                    </span>
                </div>

            {% else %}
                <p> No hay resultado en la busqueda </p>
            {% endif %}
        {% endif %}
    </fieldset>
{% endblock %}