
{% extends 'mechatronics/base.html' %}
{% load staticfiles %}

{% block titulo %} Administración {% endblock %}

{% block js_css %}
	<link rel='stylesheet' type='text/css' href="{% static 'mechatronics/css/base_search.css' %}"/>
{% endblock %}

{% block right_of_nav %}
	<fieldset>
	    <legend> Búsqueda de Empleados: </legend>

	    <form action='.' method="GET">
			<fieldset class='por-nombre'>
			    <legend> <h6> Por nombre o apellido: </h6> </legend>
				<input type='text' name='name' value='{{ query.name }}'>
				<input type='submit' name='submitSearch' value='Buscar' class='btn-buscar'>
			</fieldset>

			<fieldset class='por-estatus'>
				<legend> <h6> Por Estatus: </h6> </legend>
				<select name='status' >
					<option value=""> Null </option>
					<option value="activo"> Activo </option>
					<option value="inactivo"> Inactivo </option>
				</select>
				<input type='submit' name='submitSearch' value='Buscar' class='btn-buscar'>
			</fieldset>
		</form>

		{% if query.name or query.status %}
			{% if employeeList %}
				<table id='tabla-search'>
					<thead>
						<tr>
							<th colspan ='9'>
								{% if query.name %}
								    Resultados por nombre del empleado: "{{query.name|escape}}"
								{% elif query.status  %}
								    Resultados por nombre del empleado: "{{query.status|escape}}"
								{% else %}
									Todos los empleados
								{% endif %}
							</th>
						</tr>
						<tr>
							<th>
								<a id='js_popup' href='#'>
									<img src="{% static 'mechatronics/img/delete.png' %}" height=13px width=13px >
								</a>
								<img class ='icon' src="{% static 'mechatronics/img/modify.png' %}" height=13px width=13px >
							</th>
							<th>Registro </th> <th>nombres</th> <th>Apellidos   </th> <th>Teléfono</th>
							<th>Email    </th> <th>Estado </th> <th>Salario Base</th> <th>Comisión</th>
						</tr>
					</thead>

					<tbody>
						<form action='../delete/' method="POST">	{% csrf_token %}
							<tbody>
								{% for employee in employeeList %}
									<tr>
										<td>
											<input type="checkbox" name="delete" value='{{employee.id|escape}}'>
											<a href='/administrative/employee/edit/{{employee.id|escape}}/?page={{ employeeList.number|escape }}&name={{ query.name|escape }}&status={{ query.status|escape }}'>
												<img class ='icon' src="{% static 'mechatronics/img/modify.png' %}" height=13px width=13px >
											</a>
										</td>
										<td> {{ employee.registro|escape }}  </td>
										<td> {{ employee.nombre|escape }}  </td>
										<td> {{ employee.apellido|escape }}   </td>
										<td> {{ employee.telefono|escape }} </td>
										<td> {{ employee.email|escape }} </td>
										<td> {{ employee.estado|escape }} </td>
										<td> {{ employee.salario_base|escape }} </td>
										<td> {{ employee.comision|escape }} </td>
									</tr>
								{% endfor %}

								<!-- pop up para confirmacion de eliminacion de elementos -->
								<div class="overlay-container1">
								    <div class="window-container1">
										<fieldset>
										  	<legend> Se eliminarán los registros seleccionados </legend>
												<input type='submit' class="btn-buscar" name ='submitDelete' value='Confirmar'/>
												<span class="close"> Cancelar </span>
										</fieldset>
								    </div>
								</div>
								<!-- End de popup inicialmente oculto -->

								<!-- guarda variables de consulta, para poder desplegar buscar y mostrar la lista en la pagina search, para así volver  mostrar la lista despues de eliminar equipo(s). -->
				                <div style="display:none;" >
				                    <input type='text' name='page' value='{{ employeeList.number }}'>
				                    <input type='text' name='name' value='{{ query.name|escape }}'>
				                    <input type='text' name='status' value='{{ query.status|escape }}'>
				                </div>
                        </form>
                    </tbody>
                </table>

                <div class="pagination">
                    <span class="step-links">
                        {% if employeeList.has_previous %}
                            <a href="?page={{ employeeList.previous_page_number }}&name={{ query.name|escape }}"> <h6> previous </h6> </a>
                        {% endif %}

                        <span class="current">
                            <h6> Page {{ employeeList.number }} of {{ employeeList.paginator.num_pages }} </h6>
                        </span>

                        {% if employeeList.has_next %}
                            <a href="?page={{ employeeList.next_page_number }}&name={{ query.name|escape }}"> <h6> next </h6> </a>
                        {% endif %}
                    </span>
                </div>

			{% else %}
				<p> No hay resultado en la busqueda </p>
			{% endif %}
		{% endif %}

	</fieldset>
{% endblock %}