
{% extends 'mechatronics/base.html' %}
{% load staticfiles %}

{% block title_1 %} Administracion {% endblock %}

{% block js_css %}
    <link rel='stylesheet' type='text/css' href="{% static 'mechatronics/css/base_search.css' %}"/>

    <script>
    $(function() {
        $( '#datepicker-1, #datepicker-2' ).datepicker();
        $( '#datepicker-1, #datepicker-2' ).datepicker( "option", "showAnim", 'show' );
        $( '#datepicker-1, #datepicker-2' ).datepicker( "option", "dateFormat", "dd/mm/yy" );
        $( '#datepicker-1' ).datepicker( "setDate", '{{query.date1|escape}}' );
        $( '#datepicker-2' ).datepicker( "setDate", '{{query.date2|escape}}' );
    });
   </script>
{% endblock %}

{% block right_of_nav %}
    <fieldset>
        <legend> Búsqueda de Equipos: </legend>

        <form action='.' method="GET">
            <fieldset class='por-fecha'>
                <legend> <h6> Por ingreso: </h6> </legend>
                <label> <h5> Fecha Inicial: </h5> </label>
                <input id='datepicker-1' type='text' name='date1' value=''>
                <label> <h5> Fecha Final: </h5> </label>
                <input id='datepicker-2' type='text' name='date2' value=''>
            </fieldset>

            <fieldset class='por-estatus'>
                <legend> <h6> Por Estatus: </h6> </legend>
                <select name='status'>
                    <option value=""> ----- </option>
                    <option value="almacenado"> Almacenado </option>
                    <option value="diagnosticado"> Diagnosticado </option>
                    <option value="reparado"> Reparado </option>
                    <option value="entregado"> Entregado </option>
                    <option value="irreparable"> Irreparable </option>
                </select>
                <input type='submit' name='submitSearch' value='Buscar' class='btn-buscar'>
            </fieldset>
        </form>

        {% if equipList %}
            <form action='../delete' method="POST"> {% csrf_token %}
                <table id='tabla-search'>
                    <thead>
                        <tr>
                            <th colspan ='9'>
                                Resultados por fecha del "{{ query.date1|escape }}" al "{{ query.date2|escape }}" y
                                estatus "{{ query.status|escape }}"
                            </tr>
                        <tr>
                            <th>
                                <a id='js_popup' href='#'>
                                    <img src="{% static 'mechatronics/img/delete.png' %}" height=13px width=13px >
                                </a>
                                <img class ='icon' src="{% static 'mechatronics/img/modify.png' %}" height=13px width=13px >
                            </th>
                            <th> Tipo    </th> <th> Cliente </th> <th> Ingreso  </th>  <th> Entrega  </th>
                            <th> Estatus </th> <th> Costo   </th> <th> Empleado </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for equip in equipList %}
                            <tr>
                                <td>
                                    <input type="checkbox" name="delete" value='{{ equip.id|escape }}'>
                                    <a href='/administrative/equip/edit/{{ equip.id|escape }}/?page={{ equipList.number|escape }}&date1={{ query.date1|escape }}&date2={{ query.date2|escape }}&status={{ query.status }}'>
                                        <img class ='icon' src="{% static 'mechatronics/img/modify.png' %}"
                                             height=13px width=13px >
                                    </a>
                                </td>
                                <td> {{ equip.tipo|escape }} </td>
                                <td> {{ equip.cliente|escape }} </td>
                                <td> {{ equip.ingreso|escape }} </td>
                                <td> {{ equip.entrega|escape }} </td>
                                <td> {{ equip.estatus|escape }} </td>
                                <td> {{ equip.total|escape }} </td>
                                <td> {{ equip.empleado|escape }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="pagination">
                    <span class="step-links">
                        {% if equipList.has_previous %}
                            <a href="?page={{ equipList.previous_page_number }}&date1={{ query.date1|escape }}&date2={{ query.date2|escape }}&status={{ query.status }}"> <h6> previous </h6> </a>
                        {% endif %}

                        <span class="current">
                            <h6> Page {{ equipList.number }} of {{ equipList.paginator.num_pages }} </h6>
                        </span>

                        {% if equipList.has_next %}
                            <a href="?page={{ equipList.next_page_number }}&date1={{ query.date1|escape }}&date2={{ query.date2|escape }}&status={{ query.status }}"> <h6> next </h6> </a>
                        {% endif %}
                    </span>
                </div>

                <!-- pop up para confirmacion de eliminacion de elementos -->
                <div class="overlay-container1">
                    <div class="window-container1">
                            <fieldset>
                                <legend> Se eliminarán los registros seleccionados </legend>
                                <input type='submit' class="btn-buscar" name ='submitDelete' value='Confirmar'/>
                                <span class="close"> Cancelar </span>
                            </fieldset>
                    </div>
                </div>
                <!-- End de popup inicialmente oculto -->

                <!-- guarda variables de consulta, para poder desplegar buscar y mostrar la lista en la pagina search, para así volver  mostrar la lista donde se encuentra el equipo modificado. -->
                <div style="display:none;" >
                    <input type='text' name='page' value='{{ equipList.number }}'>
                    <input type='text' name='date1' value='{{ query.date1|escape }}'>
                    <input type='text' name='date2' value='{{ query.date2|escape }}'>
                    <input type='text' name='status' value='{{ query.status|escape }}'>
                </div>

            </form>
        {% else %}
            <p class='error'> No hay resultado en la busqueda </p>
        {% endif %}

    </fieldset>

{% endblock %}