{% extends 'mechatronics/base_employee.html' %}

{% block title_2 %} Editar Empleado: {% endblock %}

{% block vars_hidden %}
    <!-- Guarda variables de consulta para desplegar la página con los elementos de la búsqueda en la que se encuentra el elemento moficado. -->
    <div style="display:none">
        <input type='text' name='page' value='{{ q.page }}'>
        <input type='text' name='date1' value='{{ q.date1 }}'>
        <input type='text' name='date2' value='{{ q.date2 }}'>
    </div>
{% endblock %}
